extends main

block content
    h1(class='uk-heading-medium') Welcome to CoA Crafting Helper!

    h3 Seed
    ul
        li
            a(href='/seed/ingredients') Seed Ingredients
        li
            a(href='/seed/professions') Seed Crafting Professions
        li
            a(href='/seed/station-types') Seed Crafting Station Types
        li
            a(href='/seed/add-data') Add Crafting Data